# Netlify configuration

[build]
  publish = "."

# Headers for JSON files
[[headers]]
  for = "/content/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Content-Type = "application/json"

[[headers]]
  for = "/*.json"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Content-Type = "application/json"
