<!-- Navbar Component -->
<header class="navbar" id="navbar">
  <span class="navbar__line"></span>
  <a href="index.html" class="navbar__logo" data-transition>
    <img src="images/logo.svg" alt="BLS" class="navbar__logo-img" width="275" height="51">
    <img src="images/logo-dark.svg" alt="BLS" class="navbar__logo-img navbar__logo-img--dark" width="275" height="51">
  </a>

  <nav class="navbar__menu">
    <a href="index.html" class="navbar__link" data-nav="home" data-transition>
      <span class="navbar__link-text">Home</span>
      <span class="navbar__link-text navbar__link-text--hover">Home</span>
    </a>
    <a href="projects.html" class="navbar__link" data-nav="projects" data-transition>
      <span class="navbar__link-text">Projects</span>
      <span class="navbar__link-text navbar__link-text--hover">Projects</span>
    </a>
    <a href="about.html" class="navbar__link" data-nav="about" data-transition>
      <span class="navbar__link-text">About</span>
      <span class="navbar__link-text navbar__link-text--hover">About</span>
    </a>
    <a href="services.html" class="navbar__link" data-nav="services">
      <span class="navbar__link-text">Services</span>
      <span class="navbar__link-text navbar__link-text--hover">Services</span>
    </a>
    <a href="contact.html" class="navbar__link" data-nav="contact">
      <span class="navbar__link-text">Contact</span>
      <span class="navbar__link-text navbar__link-text--hover">Contact</span>
    </a>

    <a href="tel:+61422523677" class="navbar__cta">
      <div class="navbar__cta-icons">
        <img src="images/whatsapp-logo.svg" alt="WhatsApp" class="navbar__whatsapp-icon" width="30" height="30">
        <svg class="navbar__cta-arrow" width="20" height="14" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 8H22M22 8L15 1M22 8L15 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="navbar__cta-text">
        <span>+61 422 523 677</span>
        <span>+61 422 523 677</span>
      </div>
    </a>
  </nav>
</header>
